$navbarHeight: 60px;
$appColor: #536dfe;

.App {
  #navbar-container {
    height: $navbarHeight;
    background-color: $appColor;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .app-logo {
      color: white;
      font-size: 28px;
      font-family: 'Chilanka', cursive;
    }
  }
}

