$moreDetailsHeight: 36px;
$moreDetailsMarginTop: 20px;

#contacts-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 96%;
  margin: auto;

  .contact-item-container {
    width: 300px;
    height: 300px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .details {
        transform: translateY(0);
      }

      .profile-picture {
        transform: scale(0.8) translateY(-80px);
      }
    }

    .profile-picture {
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: transform 0.3s ease-in-out;
    }

    .details {
      $detailsTextColor: #333;

      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      padding-top: 35px;
      transform: translateY($moreDetailsMarginTop + $moreDetailsHeight);
      transition: transform 0.3s ease-in-out;

      .icon {
        $iconDimentions: 50px;

        position: absolute;
        top: -($iconDimentions / 2);
        border-radius: 50%;
        width: $iconDimentions;
        height: $iconDimentions;
        background-size: 100%;
        background-position: 50%;
        background-color: white;
      }

      .fullname {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .job-details {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: $detailsTextColor;
        height: 30px;

        .separator {
          margin: 0 5px;
          height: 70%;
          border-right: 1px solid $detailsTextColor;
        }
      }

      .more-details {
        margin-top: $moreDetailsMarginTop;
        height: $moreDetailsHeight;
        color: $detailsTextColor;
      }
    }
  }
}
